<html>

<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="greeting"><span>Logged as:</span></div>
    <div class="user">
        <img src="{{user._json.avatar_url}}" />
        <span>{{user.username}} </span>
    </div>
    <a href="/logout">Logout</a>
</body>

</html>